* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
}

/*MEDIA QUERIES*/
/*MEDIA QUERIES SECCION 1*/
@media screen and (max-width: 1200px) {
  .section1 div p {
    display: none;
  }
}

@media screen and (max-width: 1055px) {
  .section1 .txt-section1 h3 {
    font-size: 55px;
  }
  .section1 .txt-section1 p {
    display: none;
  }
}

@media screen and (max-width: 1006px) {
  .section1 .txt-section1 h3 {
    font-size: 50px;
  }
  .section1 .txt-section1 p {
    display: none;
  }
}

@media screen and (max-width: 849px) {
  .section1 .txt-section1 h3 {
    font-size: 45px;
  }
  .section1 .txt-section1 p {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .section1 .txt-section1 h3 {
    font-size: 40px;
  }
  .section1 .txt-section1 p {
    display: none;
  }
}

@media screen and (max-width: 710px) {
  body .section1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .section1 .img-section1 {
    width: 100%;
  }
  body .section1 .img-section1 img {
    width: 100%;
    padding: 0px;
  }
  body .section1 .txt-section1 {
    width: 100%;
    padding: 0px;
  }
  body .section1 .txt-section1 h3 {
    padding-top: 20px;
    font-size: 45px;
  }
}

/*MEDIA QUERIES MAIN*/
@media screen and (max-width: 1240px) {
  .main-index div h2 {
    font-size: 70px;
  }
}

@media screen and (max-width: 1040px) {
  .main-index div h2 {
    font-size: 60px;
  }
}

@media screen and (max-width: 900px) {
  .main-index div h2 {
    font-size: 50px;
  }
}

@media screen and (max-width: 780px) {
  body .main-index div h2 {
    font-size: 45px;
  }
}

@media screen and (max-width: 710px) {
  body .main-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main-index div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  body .main-index div h2 {
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 60px;
    text-align: center;
  }
  body .main-index .imagen {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .main-index .imagen img {
    width: 90%;
    margin-top: 30px;
  }
}

@media screen and (max-width: 530px) {
  body .main-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main-index div {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  body .main-index div h2 {
    margin: 0px 20px 0px 20px;
    font-size: 50px;
    text-align: center;
  }
  body .main-index .imagen {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .main-index .imagen img {
    width: 90%;
  }
}

/*MEDIA QUERIES SECCION 2*/
@media screen and (max-width: 850px) {
  .section2 .contenido {
    width: 100%;
  }
  .section2 .contenido h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .section2 .contenido {
    width: 100%;
  }
  .section2 .contenido h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 500px) {
  .section2 .contenido {
    width: 100%;
  }
  .section2 .contenido h3 {
    font-size: 50px;
  }
}

/*MEDIA QUERIES FOOTER*/
@media screen and (max-width: 570px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 30px;
  }
  footer .footer-boomer {
    padding: 0px;
  }
  footer div {
    width: 100%;
    text-align: center;
    padding: 0px;
  }
}

body {
  width: 100%;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
  /*
    .main-index{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        div{
            font-size: 60px;
            padding-left: 50px;
            color: rgb(31, 20, 71);
        }
        .imagen{
            img{
                width: 100%;
            }
        }
    }
    */
  /*
    header{
        width: 100%;
        position: fixed;
        top:-10px;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        padding: 16px;
        box-shadow: 0px 5px 3px rgba(0,0,0,.1);
        z-index: 1;
      .logo{
          width: 30%;
        h2{
            color: rgba(125,96,245,1);
            margin-left: 30px;
            font-size: 30px;
            width: 20%;
          }
      }
      .nav{
          width: 60%;
        nav{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            font-size: 21px;
            font-weight: 600;
            li{
                list-style: none;
                margin-right: 30px;
                padding-top: 10px;
                a{
                  width: 100%;
                  text-decoration: none;
                  color: rgba(125,96,245,1);
                  &:hover{
                      color:rgb(58, 38, 138) ;
                  }
              }
            }
        }
      }
    }
    
    */
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
  color: #7d60f5;
  padding-top: 2px;
}

body header #btn-menu {
  display: none;
}

body header #btn-menu:checked ~ nav {
  margin: 0px;
}

body header label {
  display: none;
  margin: 10px;
  width: 30px;
}

body header .logo {
  width: 30%;
}

body header .logo p {
  color: #7d60f5;
  margin-left: 30px;
  margin-top: 5px;
  font-size: 23px;
  font-weight: 700;
}

body header nav {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 70px;
}

body header nav li {
  list-style: none;
  margin: 10px;
  margin-left: 35px;
  font-size: 20px;
  font-weight: 600;
}

body header nav li a {
  text-decoration: none;
  color: #7d60f5;
}

body header nav li a:hover {
  color: #3a268a;
}

body main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  margin-bottom: 40px;
}

body main div {
  width: 50%;
}

body main div h2 {
  font-size: 95px;
  margin-left: 30px;
  color: #1f1447;
  padding-top: 0px;
  padding-left: 60px;
}

body main .imagen {
  width: 50%;
}

body main .imagen img {
  width: 100%;
}

body .section1 {
  background-color: #7d60f5;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 50px;
}

body .section1 .img-section1 img {
  width: 100%;
  padding-left: 30px;
}

body .section1 div {
  width: 50%;
  padding-top: 30px;
  padding-right: 30px;
}

body .section1 div h3 {
  color: #fff;
  font-size: 60px;
  text-align: center;
  font-weight: 600;
}

body .section1 div p {
  padding-top: 20px;
  color: white;
  font-size: 23px;
  text-align: center;
}

body .section2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 70px;
  color: #1f1447;
  margin-top: 80px;
}

body .section2 .contenido {
  width: 60%;
}

body .section2 .contenido h3 {
  text-align: center;
}

body .section2 .contenido .contenedor-boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section2 .contenido .contenedor-boton .boton {
  font-size: 25px;
  background-color: #7d60f5;
  border-radius: 40px;
  margin-top: 20px;
  padding: 5px 20px 5px 20px;
  font-weight: 550;
  -webkit-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.2);
}

body .section2 .contenido .contenedor-boton .boton a {
  color: white;
}

body .section2 .contenido .contenedor-boton .boton:hover {
  -webkit-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.3);
}

body footer {
  width: 100%;
  background-color: black;
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body footer div {
  padding: 30px;
  font-weight: 500;
}

body footer div .titulo-footer {
  color: #7d60f5;
  font-weight: 600;
  margin-bottom: 10px;
}

body footer div p {
  color: white;
}

body footer div h4 {
  font-size: 30px;
  padding: 30px;
  color: white;
}

body footer div li {
  list-style: none;
}

body footer div li a {
  color: white;
  text-decoration: none;
}

/*PORTAFOLIO*/
.titulo-portafolio {
  color: #1f1447;
  margin-top: 30px;
  font-size: 100px;
  text-align: center;
  padding: 20px;
}

.portafolio {
  width: 100%;
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portafolio .trabajo {
  margin: 10px;
  width: 30%;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.portafolio .trabajo:hover {
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.portafolio .trabajo img {
  width: 100%;
}

.portafolio .trabajo p {
  text-align: center;
  font-weight: 600;
  font-family: 'Nunito Sans', sans-serif;
}

.portafolio .trabajo .contenedor-ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portafolio .trabajo .contenedor-ver div {
  text-align: center;
  color: white;
  font-weight: 500;
  border-radius: 30px;
  padding: 0px 20px;
  font-size: 20px;
  width: 10%;
  background-color: #7d60f5;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 1000px) {
  .portafolio {
    margin-left: 1%;
  }
}

@media screen and (max-width: 599px) {
  .portafolio .trabajo {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (max-width: 490px) {
  .titulo-portafolio {
    margin-top: 0px;
  }
  .titulo-portafolio h3 {
    font-size: 80px;
  }
  .portafolio .trabajo {
    width: 100%;
  }
}

@media screen and (max-width: 340px) {
  .titulo-portafolio {
    margin-top: 0px;
  }
  .titulo-portafolio h3 {
    font-size: 65px;
  }
}

@media screen and (max-width: 290px) {
  .titulo-portafolio {
    margin-top: 0px;
  }
  .titulo-portafolio h3 {
    font-size: 55px;
  }
}

@media screen and (max-width: 250px) {
  .titulo-portafolio {
    margin-top: 0px;
  }
  .titulo-portafolio h3 {
    font-size: 45px;
  }
}

/*CONTACTO*/
.body-contacto {
  font-family: 'Nunito Sans', sans-serif;
}

.body-contacto .section-contacto {
  margin-top: 70px;
  width: 100%;
}

.body-contacto .section-contacto .contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.body-contacto .section-contacto .contacto .imagen img {
  width: 250px;
  padding-top: 80px;
}

.body-contacto .section-contacto .contacto .formulario {
  width: 50%;
}

.body-contacto .section-contacto .contacto .formulario h3 {
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 30px;
}

.body-contacto .section-contacto .contacto .formulario .form-floating {
  margin-bottom: 20px;
}

.body-contacto .section-contacto .contacto .formulario .enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-contacto .section-contacto .contacto .formulario .enviar input[type="submit"] {
  background-color: #7d60f5;
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 10px;
  padding: 5px 20px;
  -webkit-box-shadow: 0px;
          box-shadow: 0px;
}

@media screen and (max-width: 800px) {
  .body-contacto .section-contacto .contacto .imagen img {
    display: none;
  }
  .body-contacto .section-contacto .contacto .formulario {
    width: 100%;
    padding: 0px 80px;
  }
  .body-contacto .section-contacto .contacto .formulario h3 {
    font-size: 50px;
  }
}

@media screen and (max-width: 540px) {
  .body-contacto .section-contacto .contacto .imagen img {
    display: none;
  }
  .body-contacto .section-contacto .contacto .formulario {
    width: 100%;
    padding: 0px 80px;
  }
}

@media screen and (max-width: 430px) {
  .body-contacto .section-contacto .contacto .imagen img {
    display: none;
  }
  .body-contacto .section-contacto .contacto .formulario {
    width: 100%;
    padding: 0px 60px;
  }
}

@media screen and (max-width: 335px) {
  .body-contacto .section-contacto .contacto .imagen img {
    display: none;
  }
  .body-contacto .section-contacto .contacto .formulario {
    width: 100%;
    padding: 0px 10%;
  }
}

/*NOSOTROS*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 250px 30px 250px;
  text-align: center;
  font-size: 30px;
}

.nosotros p {
  margin-bottom: 20px;
  font-size: 22px;
}

.clientes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientes .cliente {
  padding: 0px 100px 0px 100px;
  width: 40%;
}

.clientes .cliente div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clientes .cliente div img {
  width: 100px;
}

.clientes .cliente .testimonio {
  font-size: 20px;
  text-align: center;
}

/*.nosotros*/
@media screen and (max-width: 1000px) {
  .nosotros {
    margin: 40px 150px 30px 150px;
  }
}

@media screen and (max-width: 800px) {
  .nosotros {
    margin: 40px 100px 30px 100px;
  }
}

@media screen and (max-width: 650px) {
  .nosotros {
    margin: 40px 50px 30px 50px;
  }
}

@media screen and (max-width: 500px) {
  .nosotros {
    margin: 40px 20px 30px 20px;
  }
}

/*.clientes*/
@media screen and (max-width: 1000px) {
  .clientes .cliente {
    padding: 0px 20px 0px 20px;
  }
}

@media screen and (max-width: 600px) {
  .clientes .cliente {
    padding: 0px 20px 0px 20px;
    width: 100%;
  }
  .clientes .cliente p {
    text-align: center;
  }
}

/*QUE OFRECEMOS*/
.que-ofrecemos {
  font-family: 'Nunito Sans', sans-serif;
}

.que-ofrecemos .main-que-ofrecemos {
  padding-top: 0px;
  padding-bottom: 40px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.que-ofrecemos .main-que-ofrecemos img {
  padding-right: 60px;
  width: 35%;
}

.que-ofrecemos .main-que-ofrecemos h2 {
  color: #1f1447;
  font-size: 130px;
  padding-top: 60px;
  padding-left: 80px;
}

.que-ofrecemos .ofertas {
  background-color: #7d60f5;
  margin-top: 30px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.que-ofrecemos .ofertas .oferta {
  text-align: center;
  width: 25%;
  margin: 30px 50px;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
  padding: 60px 40px;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.que-ofrecemos .ofertas .oferta img {
  width: 30px;
}

.que-ofrecemos .ofertas .oferta p {
  font-size: 21px;
  width: 100%;
  color: white;
  font-weight: 500;
}

.que-ofrecemos .ofertas .oferta h3 {
  margin: 5px;
  font-size: 25px;
}

.que-ofrecemos .ofertas .oferta:hover {
  background-color: white;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.7);
}

.que-ofrecemos .ofertas .oferta:hover p {
  color: #7d60f5;
}

.que-ofrecemos footer {
  margin: 0;
}

/*MEDIA QUERIES QUE OFRECEMOS*/
@media screen and (max-width: 1120px) {
  .que-ofrecemos .main-que-ofrecemos h2 {
    font-size: 110px;
  }
}

@media screen and (max-width: 970px) {
  .que-ofrecemos .main-que-ofrecemos h2 {
    font-size: 95px;
  }
}

@media screen and (max-width: 850px) {
  .que-ofrecemos .main-que-ofrecemos {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .que-ofrecemos .main-que-ofrecemos h2 {
    padding: 0px;
    margin: 0px;
    font-size: 95px;
    text-align: center;
  }
  .que-ofrecemos .main-que-ofrecemos img {
    padding-left: 60px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 816px) {
  .que-ofrecemos .main-que-ofrecemos {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .que-ofrecemos .main-que-ofrecemos h2 {
    padding-left: 60px;
    padding: 0px;
    margin: 0px;
    font-size: 95px;
    text-align: center;
  }
  .que-ofrecemos .main-que-ofrecemos img {
    padding-left: 60px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .que-ofrecemos {
    margin-top: 0px;
  }
  .que-ofrecemos .main-que-ofrecemos {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .que-ofrecemos .main-que-ofrecemos h2 {
    font-size: 75px;
  }
  .que-ofrecemos .main-que-ofrecemos img {
    padding-left: 60px;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .que-ofrecemos {
    margin-top: 0px;
  }
  .que-ofrecemos .main-que-ofrecemos {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .que-ofrecemos .main-que-ofrecemos h2 {
    font-size: 65px;
  }
}

@media screen and (max-width: 325px) {
  .que-ofrecemos {
    margin-top: 0px;
  }
  .que-ofrecemos .main-que-ofrecemos {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .que-ofrecemos .main-que-ofrecemos h2 {
    font-size: 50px;
  }
}

/*OFERTAS*/
@media screen and (max-width: 1199px) {
  .que-ofrecemos {
    margin-top: 0px;
  }
  .que-ofrecemos .ofertas .oferta {
    width: 40%;
    margin: 0;
    margin-top: 40px;
  }
}

@media screen and (max-width: 749px) {
  .que-ofrecemos {
    margin-top: 0px;
  }
  .que-ofrecemos .ofertas .oferta {
    width: 40%;
    margin: 0;
    margin-top: 40px;
  }
}

@media screen and (max-width: 700px) {
  .que-ofrecemos {
    margin-top: 0px;
  }
  .que-ofrecemos .ofertas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .que-ofrecemos .ofertas .oferta {
    margin-left: 10px;
    margin-right: 10px;
    width: 95%;
    margin-top: 40px;
  }
}

/*MEDIA QUERIES HEADER*/
@media screen and (max-width: 1080px) {
  body header #btn-menu {
    display: none;
  }
  body header label {
    display: block;
    width: 20px;
  }
  body header .logo p {
    position: absolute;
    right: 3%;
  }
  body header nav {
    z-index: 1;
    width: 100%;
    margin-left: -100%;
    position: absolute;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 60px;
    -webkit-box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.1);
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  body header nav li {
    font-size: 15px;
    font-weight: 400;
    background-color: #7d60f5;
    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid #fff;
  }
  body header nav li a {
    color: #fff;
    padding-left: 30px;
  }
}

@media screen and (max-width: 575px) {
  body header #btn-menu {
    display: none;
  }
  body header label {
    display: block;
    width: 18px;
  }
  body header .logo p {
    position: relative;
    left: 100%;
  }
  body header .nav nav {
    position: absolute;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 52px;
  }
}

@media screen and (max-width: 450px) {
  body header #btn-menu {
    display: none;
  }
  body header label {
    display: block;
    width: 18px;
  }
  body header .logo p {
    font-size: 22px;
    position: relative;
    left: 90%;
  }
  body header .nav nav {
    background-color: #7d60f5;
    position: absolute;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 50px;
  }
}

@media screen and (max-width: 390px) {
  body header #btn-menu {
    display: none;
  }
  body header label {
    display: block;
    width: 18px;
  }
  body header .logo p {
    font-size: 22px;
    position: relative;
    left: 80%;
  }
  body header .nav nav {
    background-color: #7d60f5;
    position: absolute;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 50px;
  }
}

@media screen and (max-width: 355px) {
  body header #btn-menu {
    display: none;
  }
  body header label {
    display: block;
    width: 18px;
  }
  body header .logo p {
    font-size: 22px;
    position: relative;
    left: 60%;
  }
  body header .nav nav {
    background-color: #7d60f5;
    position: absolute;
    background-color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    top: 50px;
  }
}
/*# sourceMappingURL=estilo.css.map */